.searchcontainer {
  display: grid;
  height: 6.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 6.5rem;
  align-items: center;
}
#searchInput {
  width: 40%;
  height: 3rem;
  padding: 1rem 3rem;
  margin-top: 0rem;
  font-size: 1.2rem;
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: 25%;
}

.btnicon {
  padding: 0.5rem;
  width: 7%;
  font-size: 25px;
  background-color: transparent;
  border-radius: 10px;
  position: absolute;
  margin-left: 23%;
  margin-top: 5px;
}
@keyframes myani {
  from {
    transform: rotate(8deg);
  }

  to {
    transform: rotate(-8deg);
  }
}
@media screen and (min-width: 360px) and (max-width: 580px) {
  .logo1s {
    width: 100%;
    margin-left: 3rem;
  }
  #searchInput {
    width: 60%;
    margin-left: 28%;
  }
  .btnicon {
    margin-left: 27%;
  }
}
@media screen and (min-width: 580px) and (max-width: 920px) {
  .logo1s {
    width: 70%;
    margin-top: -1.8rem;
  }
  #searchInput {
    margin-left: 30%;
  }
  .btnicon {
    margin-left: 29%;
  }
}
@media screen and (min-width: 920px) and (max-width: 1240px) {
  .logo1s {
    width: 45%;
    margin-top: -1.9rem;
  }
  #searchInput {
    margin-left: 20%;
  }
  .btnicon {
    margin-left: 19%;
  }
}
