.slider {
  top: 6rem;
  width: 100%;
  height: 35rem;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

.slide img {
  height: 100%;
}

.slidecontent {
  position: absolute;
  top: 15rem;
  left: 8rem;
  opacity: 0;
  width: 80%;
  padding: 3rem;
  /* background: rgba(0, 0, 0, 0.3); */
  animation: slide-up 1s ease 0.5s;
  animation-fill-mode: forwards;
  /* visibility: hidden; */
}
.slidecontent h2 {
  font-size: 3rem;
}
.slidecontent p {
  font-family: "Yesteryear", sans-serif;
  font-size: 2rem;
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 15rem;
  }
  100% {
    visibility: visible;
    top: 9rem;
  }
}

@media screen and (max-width: 600px) {
  .slidecontent {
    margin-left: -3rem;
    width: 80%;
  }
  .slidecontent h2 {
    font-size: 1.8rem;
  }
  .slidecontent p {
    font-family: "Yesteryear", sans-serif;
    font-size: 1.3rem;
  }
  .slide img {
    height: 30rem;
  }
}

.slidecontent > * {
  color: #000;
  margin-bottom: 1rem;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.current .slidecontent {
  opacity: 1;
}

.arrow {
  border: 2px solid #000;
  border-radius: 50%;
  background: transparent;
  color: #000;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 40%;
  z-index: 9;
}

.arrow:hover {
  background: #fff;
  color: #777;
}

.next {
  right: 1.5rem;
}
.prev {
  left: 1.5rem;
}
