.app {
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 12px 14px 12px 0px rgb(126 71 155);
}
.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}
.details .big-img {
  max-width: 500px;
  min-width: 290px;
  overflow: hidden;
  margin: 25px;
}
.big-img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
}

.details .box {
  max-width: 500px;
  min-width: 290px;
  margin: 70px 25px 25px 25px;
}
.box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box .row span {
  color: crimson;
}
.box .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box p {
  line-height: 1.5;
  margin: 15px 0;
}
.thumb {
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}
.thumb img {
  width: 90px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
}
.thumb img.active {
  opacity: 1;
  border: 1px solid lightseagreen;
}
.btncart {
  padding: 0;
}
.cart2 {
  background: #333 !important;
  color: white !important;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: -18%;
  margin-left: 51%;
  position: absolute;
}

@media (max-width: 500px) {
  .thumb {
    height: 50px;
  }
  .thumb img {
    width: 50px;
  }
}
@media screen and (min-width: 1550px) and (max-width: 1700px) {
  .cart2 {
    margin-top: -22%;
    margin-left: 51%;
  }
}
@media screen and (min-width: 1350px) and (max-width: 1550px) {
  .cart2 {
    margin-top: -23%;
    margin-left: 51%;
  }
}
@media screen and (min-width: 1150px) and (max-width: 1350px) {
  .cart2 {
    margin-top: -25%;
    margin-left: 51%;
  }
}
@media screen and (min-width: 980px) and (max-width: 1150px) {
  .cart2 {
    margin-top: -30%;
    margin-left: 51%;
  }
}
@media screen and (min-width: 850px) and (max-width: 980px) {
  .details .box {
    margin: 70px 25px 95px 25px;
  }
  .cart2 {
    margin-top: -20%;
    margin-left: 20%;
  }
}
@media screen and (min-width: 700px) and (max-width: 850px) {
  .details .box {
    margin: 70px 25px 95px 25px;
  }
  .cart2 {
    margin-top: -25%;
    margin-left: 15%;
  }
}
@media screen and (min-width: 580px) and (max-width: 700px) {
  .details .box {
    margin: 70px 25px 95px 25px;
  }
  .cart2 {
    margin-top: -30%;
    margin-left: 10%;
  }
}
@media screen and (min-width: 360px) and (max-width: 580px) {
  .details .box {
    margin: 70px 25px 0px 25px;
  }
  .app {
    box-shadow: none;
    margin: 10px auto;
  }
  .cart2 {
    position: relative !important;
    margin-top: -20%;
    margin-left: 5%;
    margin-bottom: 3rem;
  }
  .details .big-img {
    overflow: none;
  }
  .cart-total .d_flex {
    flex-direction: column;
  }
}
