.d_flex {
  display: flex;
  justify-content: space-between;
}
.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_flex {
  display: flex;
}
.b_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-items {
  background: #f6f9fc;
  height: auto;
  padding-top: 6.5rem;
  background-color: #faeefd;
}

.cart-items .cart-details {
  width: 70%;
}

.cart-items .cart-total {
  width: 30%;
  margin-top: 30px;
  margin-left: 30px;
  height: 200px;
}
.cart-list {
  background: white;
  margin-top: 30px;
}
.cart-items .img {
  width: 150px;
  height: 150px;
}
.cart-items img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-items .cart-details h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.cart-items .cart-details h4 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 50px;
  color: grey;
}
.cart-items span {
  font-size: 30px;
  color: #e94560;
  font-weight: 500;
}
.removeCart {
  background: none;
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
}
.cartControl {
  margin-top: 50px;
  padding: 0px 15px;
  border-radius: 10px;
}
.cartControl button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  background: pink !important;
}
.incCart {
  background: none;
  border: 1px solid rgb(3 0 71 / 9%);
  color: #e94560;
}
.desCart {
  background: #f6f9fc;
}
.cart-total h4 {
  font-size: 15px;
  font-weight: 400;
}
.cart-total h3 {
  font-size: 20px;
  font-weight: 500;
  color: #e94560;
}
.cart-total h2 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: #e94560;
}
.no-items {
  color: #e94560;
  font-size: 18px;
  margin-top: 30px;
  height: 130px;
}
.check {
  align-items: center;
  padding: 20px 107px;
}
.checkOut {
  background-color: #e94560 !important;
  padding: 5px 30px;
  border-radius: 10px;
  color: white !important;
}

/*---------product-----------*/
.productcart {
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
}
/* .productcart h3 {
  font-weight: 400;
  font-size: 26px;
}
.productcart .rate i {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.productcart .price {
  display: flex;
  justify-content: space-between;
  color: #e94560;
}
.price button {
  background: none;
  color: #e94560;
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.price button:hover {
  cursor: pointer;
  background-color: #e94560;
  color: #fff;
} */

/*---------product-----------*/
@media screen and (min-width: 800px) and (max-width: 950px) {
  .check {
    padding: 20px 80px;
  }
  .checkOut {
    font-size: 15px;
    background-color: #e94560 !important;
    padding: 5px 20px;
  }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
  .check {
    padding: 20px 55px;
  }
  .checkOut {
    font-size: 13px;
    padding: 0px 15px;
  }
  .cart-items .cart-details h3 {
    font-size: 15px;
  }
  .cart-items .cart-details h4 {
    font-size: 13px;
  }
  .cart-items h4 span {
    margin-left: 13px;
  }
  .cart-total h3 {
    font-size: 18px;
  }
  .cart-total h4 {
    font-size: 15px;
  }
  .cart-items .cart-total {
    margin-left: 0px;
  }
}
@media screen and (min-width: 550px) and (max-width: 700px) {
  .check {
    padding: 20px 40px;
  }
  .checkOut {
    font-size: 13px;
    padding: 0px 15px;
  }
  .cartControl {
    margin-top: 50px;
    padding: 0px;
  }
  .cart-items .cart-details h3 {
    font-size: 15px;
  }
  .cart-items .cart-details h4 {
    font-size: 10px;
  }
  .cart-items span {
    font-size: 20px;
  }
  .cart-total h3 {
    font-size: 15px;
  }
  .cart-total h4 {
    font-size: 12px;
  }
  .cart-items .cart-total {
    margin-left: 0px;
  }
}
@media screen and (min-width: 360px) and (max-width: 550px) {
  .cart-items .cart-details {
    width: 100%;
  }
  .cart-items .cart-details h3 {
    font-size: 20px;
  }
  .cart-items .cart-details h4 {
    font-size: 18px;
  }
  .cart-items h4 span {
    margin-left: 18px;
  }
  .cart-total h3 {
    font-size: 30px;
  }
  .cart-total h4 {
    font-size: 25px;
  }
  .cart-items .cart-total {
    margin-left: 0px;
  }
  .d_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .cart-items .cart-total {
    width: 90%;
    margin-top: 30px;
    margin-left: 30px;
    height: 250px;
  }
  .cart-list .img {
    width: 100%;
  }
  .removeCart1 {
    top: 10px;
    position: absolute;
  }
  .cartControl {
    margin-top: 0px;
  }
  .cart-total h2 {
    font-size: 25px;
  }
  .check {
    padding: 20px 130px;
  }
  .checkOut {
    font-size: 20px;
    padding: 10px 25px;
  }
}
