footer {
  padding: 30px;
  background-color: #bfb3e6;
}
.infomation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col:nth-child(2),
.col:nth-child(3),
.col:nth-child(4) {
  padding-top: 5%;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.logo {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}
footer .map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .map i {
  font-size: 25px;
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
.map p {
  font-size: 14px;
}
footer h4 {
  font-size: 18px;
  padding-bottom: 20px;
}
footer p {
  font-size: 14px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  font-size: 25px;
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .sign-up {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sign-up h3 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}
.sign-up p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
.form {
  display: flex;
  width: 25%;
}
.form input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;

  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form button {
  background-color: #088178 !important;
  color: #fff !important;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.logo3 img {
  width: 100%;
  height: auto;
}
.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
.logo3 img {
  padding: 10px;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 580px) and (max-width: 780px) {
  .infomation {
    gap: 2rem;
    padding: 0 40px;
    justify-content: space-evenly;
  }
  footer .col {
    margin: 0 10%;
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 360px) and (max-width: 580px) {
  .infomation {
    gap: 2rem;
    justify-content: space-evenly;
    flex-direction: column;
  }
  footer .col {
    align-items: center;
    padding: 10%;
    margin: 0;
  }
  footer .map {
    flex-wrap: nowrap;
  }
}
