#blog-page {
  padding-top: 0rem;
  width: 100%;
}

#blog-page img {
  transition: 1s;
}

#blog-page img:hover {
  transform: scale(0.8);
  z-index: 2;
}

#blog-page p {
  transition: var(--trasition);
}

#blog-page p:hover {
  color: var(--alter-box);
}

.banner-blog {
  background: url(../../../../public/images/banner.blog.jpg);
  background-size: cover;
  height: 20rem;
  padding: 0rem;
  margin-top: 6.5rem;
}

.banner-text {
  text-align: right;
  padding-top: 8rem;
  padding-right: 3rem;
}

.body-blog {
  display: grid;
  grid-template-columns: 70% 30%;
}

.f-photo {
  width: 70%;
  height: 50rem;
}

.s-photo {
  height: 20rem;
  width: 60%;
}

.left-p {
  width: 40rem;
  margin: 2rem 0;
}
.third-photo {
  height: 20rem;
  width: 60%;
}

.four-photo {
  width: 30%;
  height: 8rem;
}

.fif-photo {
  width: 45%;
  height: 15rem;
}
.six-photo {
  width: 60%;
  height: 10rem;
}

.right-blog p {
  font-size: 0.8rem;
  width: 100%;
  margin: 1.5rem 0;
}

.right-blog h5 {
  margin-top: 0.6rem;
}

.cat {
  margin-top: 0.6rem;
}

.cat-p {
  font-size: 2rem;
  font-weight: 600;
}

.last-blog {
  display: flex;
  width: 70%;
  margin-left: 6.5rem;
}

.last-blog img {
  height: 27rem;
  width: 100%;
}

.last-blog p {
  margin-top: 1rem;
  width: 60%;
  font-size: 0.8rem;
}

.last-blog h4 {
  font-size: 1rem;
}

/* .right-blog button {
  display: none;
} */

@media screen and (min-width: 1240px) and (max-width: 1320px) {
  .container {
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 1320px;
  }
}
@media screen and (min-width: 920px) and (max-width: 1240px) {
  .container {
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 1240px;
  }
  .f-photo {
    height: 40rem;
  }
  .left-p {
    width: 25rem;
  }
  .four-photo {
    width: 58%;
    height: 10rem;
  }
  .fif-photo {
    width: 69%;
    height: 13rem;
  }
  .six-photo {
    width: 73%;
    height: 7rem;
  }
}

@media screen and (min-width: 580px) and (max-width: 920px) {
  .container {
    width: var(--container-width-md);
    margin: 0 auto;
    max-width: 920px;
  }

  /* .btn2 button {
        display: inline-block;
        font-size: 1.8rem;
        color: var(--color-black);
        cursor: pointer;
        margin-top: 1.5rem;
    }

    .btn2 button#close-menu-btn {
        display: none;
    }

    .logo1 {
        width: 100px;
        height: 100px;
        display: block;
        object-fit: cover;
        margin-left: 5%;
    }

    .logo1 img {
        width: 90%;
        height: auto;
    } */

  .f-photo {
    width: 77%;
    height: 25rem;
  }

  .left-blog h3 {
    padding-top: 0px;
    margin-top: 1rem;
  }

  .left-p {
    width: 18rem;
  }
  .s-photo {
    height: 14rem;
    width: 79%;
  }

  .third-photo {
    height: 14rem;
    width: 79%;
  }

  .four-photo {
    width: 57%;
    height: 9rem;
  }

  .right-blog p {
    width: 118%;
  }

  .fif-photo {
    width: 86%;
    height: 13rem;
  }

  .last-blog p {
    width: 71%;
  }

  .six-photo {
    width: 100%;
  }

  .right-blog button {
    display: none;
  }
  .right-blog p {
    width: 99%;
  }
  .last-blog img {
    height: 18rem;
    width: 100%;
  }
}

@media screen and (min-width: 360px) and (max-width: 580px) {
  .container {
    width: var(--container-width-sm);
    margin: 0 auto;
    max-width: 580px;
  }

  .f-photo {
    width: 100%;
    height: 25rem;
    padding: 0 2rem;
  }

  .left-blog h3 {
    font-size: 1.3rem;
    padding: 0 2rem;
    margin-top: 1rem;
  }

  .left-p {
    width: 100%;
    padding: 0 2rem;
  }

  .s-photo {
    width: 100%;
    height: 14rem;
    padding: 0 2rem;
  }
  .third-photo {
    width: 100%;
    height: 14rem;
    padding: 0 2rem;
  }

  .four-photo {
    width: 100%;
    height: 17rem;
    padding: 0 2rem;
  }

  .right-blog p {
    width: 100%;
    padding: 0 2rem;
  }
  .right-blog h4 {
    padding: 0 2rem;
    margin-top: 1rem;
  }
  .right-blog h3 {
    padding: 0 2rem;
    margin-top: 1rem;
  }

  .none {
    display: none;
  }
  .body-blog {
    grid-template-columns: 100%;
  }

  .last-blog {
    flex-direction: column;
  }
  .last-blog img {
    height: 17rem;
    width: 100%;
  }
  .last-blog h4 {
    margin-top: 1rem;
  }
  .last-blog p {
    width: 100%;
  }
  .b-col1 {
    padding: 0 2rem;
    width: 100%;
  }

  .b-col2 {
    padding: 0 2rem;
    width: 100%;
  }

  .b-col3 {
    padding: 0 2rem;
    width: 100%;
  }

  .right-blog button {
    display: block;
  }

  .post button {
    cursor: pointer;
    margin-bottom: 3rem;
  }
}
